<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>BiblePlan</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="css/picnic.min.css">
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <link rel="stylesheet" href="css/main.css">
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <div id="app">
            <article class="card">
                <header>
                  <h3>Minha leitura</h3>
                </header>
                <main>
                    <details v-for="b in bible.books">
                        <summary>{{b.nm}}</summary>
                        <div  class="flex demo">
                            <div v-for="c in b.caps">
                                <label>
                                    <input type="checkbox" v-model="c.lido">
                                    <span class="toggle pseudo button">{{c.id}}</span>
                                </label>                        
                            </div>
                        </div>
                    </details>
                </main>
                <footer>
                    Sl 119:115 - Thiago Paiva
                </footer>
            </article>
        </div>
        <script src="js/bible.min.js" async defer></script>
        <script src="js/biblefunc.js" async defer></script>
        <script src="js/main.js" async defer></script>
    </body>
</html>